* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.footer {
    background: #102a43;
    background: linear-gradient(to right, #102A43, #1B3B5F);
    position: relative;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    width: 100%;
    font-size: 22px;
    box-sizing: border-box;
}